body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(185, 216, 111, 0.908);
    padding-top: 30px;
    margin-top: 50px;
    border: 1px solid rgb(17, 233, 25);
}
header img{
    width: 200px;
}
.bloque-logo{
    width: 20%;
    display: inline;
}
nav{
    display: inline-block;
    width: 80%;
}
nav ul{
    margin-left: 50px;
}
nav ul li{
    display: inline-block;
    margin-right: 15px;
}
nav ul li{
    text-decoration: none;
    color: #005780;
    font-size: 14px;
}
nav ul li a:hover{
    font-weight: bold;
}